<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "2high4you" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
    {% block canonical_meta %}{% endblock %}

</head>
<style>

    body {
        margin: 0;
        padding: 0;
        font-weight: 100;
        font-family: 'Lato';
    }

    .title {
        margin: 20px auto;
        text-align: center;
        font-size: 96px;
        letter-spacing: 20px;
    }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover, .dropdown:hover .dropbtn {
        background-color: red;
    }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {
        display: block;
    }

    abs {position: absolute;
        left: 360px;
        right: 200px;

    }
    .offer {
        border: 1px solid gray;
        padding: 10px;
        margin: 50px;
        width: 110px;
        overflow: hidden;
        height: 280px;
        margin-right: 40px;
        float:left;
        background-color: #333;
        color: white;


    }
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 100px;
        height: 100px;
        background: white;
    }




</style>
<body>

<div class="title">2high4you</div>
<ul>
    <li><a href="http://127.0.0.1:8000">Pagrindinis</a></li>
    <li><a href="http://127.0.0.1:8000/new_user">Naujas skelbimas</a></li>
    <li class="dropdown">
        <a href="#" class="dropbtn">Kategorijos</a>
        <div class="dropdown-content">
            <a href="http://127.0.0.1:8000">Mokslai</a>
            <a href="http://127.0.0.1:8000">Muzika</a>
            <a href="http://127.0.0.1:8000">Sportas</a>
        </div>
    </li>
</ul>


<div class="container">
    {% block container %}
        {% block header %}
            {% include "::inc/header.html.twig" %}
        {% endblock %}
        {% block body %}




        {% endblock %}
    {% endblock %}
</div>
{% block footer %}
    {% include "::inc/footer.html.twig" %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>