{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
    </style>
{% endblock %}

{% block body %}


    <abs>{% for offer in offers %}
            <div class="offer">
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/13694-200.png">
                <h3>{{ offer.description }}</h3>
                <p>Kaunas</p>
                <button name="details" onclick="location.href = '/details/{{ offer.id }}';">Details</button>

            </div>
        {% endfor %}
    </abs>
{% endblock %}
