{% extends '::base.html.twig' %}

{#{% block stylesheets %}#}
    {#<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">#}
    {#{{ parent() }}#}
    {#<style>#}
        {#label {#}
            {#width: 100px !important;#}
        {#}#}
    {#</style>#}
{#{% endblock %}#}

{% block body %}
    <h1>Registracija</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}